.logout{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.profile{
    width: 100%;
    text-align: center;
    color: black;
    margin: 10px 0px;
}
.change{
    width: 100%;
    background-color: white;
}

.bb{
    display: block;
    text-align: center;
    margin: 20px auto;;

}