/* src/Component/credential/sign/style.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.sign {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-width: 350px;
}

.box-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Reg-btn {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Reg-btn:hover {
  background-color: #0056b3;
}

/* Input component specific styling */
.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}
